<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Web Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Web Service with Spring boot 테스트</h1>
    <div class="col-md-12">
        <!--로그인 기능 영역-->
        <div class="row">
            <div class="col-md-6">
                {{#username}}
                    <div>
                        Logged in as : <span id="user">{{username}}</span>
                    </div>
                    <div>
                        User Email: <span id="email">{{email}}</span>
                    </div>
                    <div>
                        <a href="/home" class="btn btn-info active" role="button">Logout</a>
                    </div>
                {{/username}}
                {{^username}}
                    <a href="/app/accounts/auth/google" class="btn btn-success active" role="button">Google Login</a>
                {{/username}}
            </div>
        </div>
    </div>
    <br>
</body>